<header class="bg-purple-600 py-4">
  <div class="text-white w-11/12 mx-auto flex items-center justify-between">
    <h1 class="font-black text-lg px-4">zeta</h1>
    <nav class="text-sm">
      <ul class="flex">
        <li class="font-light">
          <a href="<%= rootPath()%>" class="p-4 hover:bg-purple-800">Home</a>
        </li>
        <li class="font-light">
          <a href="#" class="p-4 hover:bg-purple-800">About</a>
        </li>
        <li class="">
          <a href="<%= usersLoginPath()%>" class="p-4 hover:bg-purple-800">Account</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
