<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Zeta</title>
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="/assets/images/favicon.ico">
  </head>
  <body class="antialiased w-full h-full">
      <%= yield %>
  </body>
</html>
