<!-- header section -->
<%= partial("templates/front/_header.html") %>

<!-- showcase -->
<div class="w-11/12 mx-auto py-12">
  <div class="text-center">
    <h1 class="text-5xl font-extrabold py-4">
      <span class="text-purple-600 underline">zeta</span>
      <span class="text-purple-400">
        - AIO Library
      </span>
    </h1>
    <h3 class="text-3xl font-extrabold pb-3">
      Use one, store more.
    </h3>
    <p class="text-xl font-light tracking-wide">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, beatae.
    </p>
    <!-- showcase > button -->
    <div class="pt-6">
      <a
        href="#"
        type="button"
        class="px-4 py-3 mx-1 bg-white rounded-lg border-2 border-purple-700 hover:bg-purple-700 hover:text-white"
      >
        How it works
      </a>
      <a
        href="#"
        type="button"
        class="px-4 py-3 mx-1 bg-purple-700 text-gray-100 rounded-lg border-2 border-purple-700 hover:bg-purple-800 hover:border-purple-800"
      >
        Register
      </a>
    </div>
  </div>
</div>

<!-- footer -->
<%= partial("templates/front/_footer.html") %>
