{% extends 'dashboard.html' %}

{% load tmdb %}

{% block title %}
  Find item '{{query}}''
{% endblock title %}

{% block content %}
  <div class="flex justify-center">
    <div class="my-16 w-1/2 p-6 mx-auto shadow-lg rounded border-2 border-purple-600">
      <div class="flex items-center justify-between">
        <h3 class="text-lg tracking-wide"><span class="font-light">Search book/s for</span> <strong class="text-purple-600">'{{query}}'</strong></h3>
        <a href="{% url 'collections-page' slug=slug %}" type="button" class="py-2 px-6 text-sm tracking-wide rounded-full bg-gray-200 hover:bg-gray-300 cursor-pointer mx-1">Cancel</a>
      </div>
      <hr class="my-2">
      <!-- search form -->
      <div class="mb-2 flex items-center justify-center result-find-another">
        <form action="" method="POST">
          {% csrf_token %}
          {{form.slugid}}
          {{form.type}}
          {{form.query}}
          <input type="submit" value="Find Item" class="border border-purple-600 py-1 px-3 lowercase text-sm cursor-pointer tracking-wide rounded bg-purple-600 text-white hover:bg-purple-700">
        </form>
      </div>
      <!-- search results -->
      <div class="px-4 py-2">
        <!-- api credits -->
        <small class="tracking-wide mb-1"><span class="font-light">Results provided by: </span><a href="https://openlibrary.org/" class="underline text-blue-600 font-bold">OpenLibrary</a></small>
        <ul class="grid grid-cols-3 gap-4">
          {% for result in results %}
          <li>
            <div class="bg-purple-600 rounded border-2 relative border-purple-500 group">
              <div class="group-hover:flex items-center justify-center w-full h-full absolute hidden bg-bland">
                <div class="text-center px-1">
                  <h3 class="text-purple-100 font-light tracking-wide mb-1 h-24 overflow-auto">{{result.title}} <br><small>{{result.author_name}}</small></h3>
                  <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="slugid" value="{{slug}}">
                    <input type="hidden" name="type" value="{{type}}">
                    <input type="hidden" name="title" value="{{result.title}} {{result.author_name}}">
                    {% if result.cover_i %}
                    <input type="hidden" name="img" value="https://covers.openlibrary.org/b/id/{{result.cover_i}}-L.jpg">
                    {% else %}
                    <input type="hidden" name="img" value="None">
                    {% endif %}
                    <input type="submit" value="Add" class="text-sm lowercase px-4 py-1 bg-purple-700 hover:bg-purple-800 cursor-pointer text-white rounded">
                  </form>
                </div>
              </div>
              {% if result.cover_i %}
                <img src="https://covers.openlibrary.org/b/id/{{result.cover_i}}-L.jpg" class="object-top rounded-t h-40 w-full object-cover" alt="">
              {% else %}
                <div class="h-40 flex items-center justify-center w-full bg-purple-500">
                  <p class="text-xl font-bold tracking-wide text-white">NONE</p>
                </div>
              {% endif %}
              <p class="text-white tracking-wide truncate text-sm text-center py-2 px-3">{{result.title}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}