{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
My Collection
{% endblock title %}

{% block content %}
<div class="w-5/6 mx-auto py-6">
  <div class="mb-4 flex items-center justify-between">
    <h1 class="uppercase font-bold text-sm">Collections</h1>
    <button @click="add_col=true"
      class="border border-purple-600 py-1 px-3 text-sm lowercase tracking-wide rounded text-purple-600 hover:text-white hover:bg-purple-600">Add
      New</button>
  </div>

  {% if messages %}
  <!-- messages -->
  <div class="mb-4">
    {% for message in messages %}
    <p class="p-1 text-white rounded text-sm {{message.tags}} text-center font-light tracking-wide my-1">{{message}}</p>
    {% endfor %}
  </div>
  {% endif %}

  {% comment %} one type should exist for it not to show the message, 'you have no collections' {% endcomment %}
  {% if not none %}
  {% for item in items %}
  {% if item.collections %}
  <div class="my-8">
    <h3 class="text-xl font-bold text-coolGray-600 tracking-wider">
      {{item.title}}
    </h3>
    <hr>
    <div class="collections-group grid-cols-1 lg:grid-cols-3">
      {% for collection in item.collections %}
      <div class="border-2 border-purple-300 hover:bg-purple-100 relative group p-6 rounded shadow-xl">
        <div class="group-hover:flex absolute hidden w-full">
          <div class="flex flex-col absolute right-0 mr-8">
            <a href="{% url 'collections-delete' slug=collection.slug %}" type="button"
              class="bg-red-500 text-center hover:bg-red-600 text-sm tracking-wide px-2 py-1 rounded my-1 text-gray-100">remove</a>
            <a href="{% url 'collections-update' slug=collection.slug %}" type="button"
              class="bg-blue-500 text-center hover:bg-blue-600 text-sm tracking-wide px-2 py-1 rounded my-1 text-gray-100">edit</a>
          </div>
        </div>
        <div class="absolute left-0 bottom-0 text-sm tracking-wide mb-2 ml-2 z-40">
          ( {{collection.stuffs.all|length}} items )
        </div>
        <h2 class="text-2xl font-bold tracking-wide text-purple-600">{{collection.name}}</h2>
        <p class="text-lg font-light text-gray-500 ml-4 truncate">{{collection.description}}</p>
        <div class="text-center z-50">
          <a href="{% url 'collections-page' slug=collection.slug %}" type="button"
            class="bg-purple-500 mt-2 hover:bg-purple-600 text-sm tracking-wide px-4  py-1 rounded text-white"
            title="View items of collection '{{collection.name}}'">view items</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% else %}
  <div class="mt-4 text-center">
    <p class="text-lg tracking-wide font-light">Yay! Nothing to see here, you can make a collection to add...</p>
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block modal %}
<!-- add new collection modal -->
<div class="fixed bg-bland h-screen w-full z-50 flex items-center justify-center" x-show="add_col">
  <div class="bg-white w-1/2 mx-auto py-12 rounded-md flex items-center justify-center" @click.away="add_col=false">
    <div class="w-4/5">
      <h3 class="mb-3 text-lg text-center text-gray-800">Add New Collection</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="flex flex-col w-full my-1 add-collection add-collection-main">
          {{form.name}}
        </div>
        <div class="flex items-center justify-center w-3/4 mx-auto mt-2 mb-1 add-collection add-collection-main">
          <label for="type" class="mr-2 font-light tracking-wide">Classification:</label>
          {{form.type}}
        </div>
        <div class="flex flex-col w-full my-1 add-collection add-collection-sub">
          <label for="description" class="text-gray-600 text-sm tracking-wide">Description</label>
          {{form.description}}
        </div>
        <div class="flex flex-col w-1/2 mx-auto my-1">
          <input type="submit" value="Create"
            class="py-2 rounded-full bg-purple-500 text-white hover:bg-purple-700 cursor-pointer">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock modal %}