{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
  My Collection
{% endblock title %}

{% block content %}
  <div class="w-5/6 mx-auto py-6">
    <div class="mb-4 flex items-center justify-between">
      <h1 class="uppercase font-bold text-sm">Collections</h1>
      <button @click="add_col=true" class="border border-purple-600 py-1 px-3 text-sm lowercase tracking-wide rounded text-purple-600 hover:text-white hover:bg-purple-600">Add New</button>
    </div>

    {% if messages %}
    <!-- messages -->
    <div class="mb-4">
      {% for message in messages %}
        <p class="p-1 text-white rounded text-sm {{message.tags}} text-center font-light tracking-wide my-1">{{message}}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% comment %} one type should exist for it not to show the message, 'you have no collections' {% endcomment %}
    {% if movies or series or animes or mangas or books or asian_dramas %}
      {% if movies %}
      <!-- movie collections -->
      <div>
        <h3 class="font-light">
          Movies
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in movies %}
          <div class="bg-teal-600 relative group hover:bg-teal-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-teal-500 mt-2 hover:bg-teal-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if series %}
      <!-- series collections -->
      <div>
        <h3 class="font-light mt-6">
          Series
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in series %}
          <div class="bg-green-600 relative group hover:bg-green-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-green-500 mt-2 hover:bg-green-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if animes %}
      <!-- anime collections -->
      <div>
        <h3 class="font-light mt-6">
          Anime
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in animes %}
          <div class="bg-gray-600 relative group hover:bg-gray-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-gray-500 mt-2 hover:bg-gray-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if books %}
      <!-- book collections -->
      <div>
        <h3 class="font-light mt-6">
          Book
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in books %}
          <div class="bg-indigo-600 relative group hover:bg-indigo-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-indigo-500 mt-2 hover:bg-indigo-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if mangas %}
      <!-- manga collections -->
      <div>
        <h3 class="font-light mt-6">
          Manga
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in mangas %}
          <div class="bg-pink-600 relative group hover:bg-pink-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-pink-500 mt-2 hover:bg-pink-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if asian_dramas %}
      <!-- asian drama collections -->
      <div>
        <h3 class="font-light mt-6">
          Asian Drama
        </h3>
        <hr>
        <div class="mt-4 grid grid-cols-3 gap-2 grid-flow-row">
          {% for collection in asian_dramas %}
          <div class="bg-orange-600 relative group hover:bg-orange-700 p-4 h-32 rounded text-white">
            <div class="group-hover:flex relative hidden">
              <div class="flex flex-col absolute right-0">
                <a href="{% url 'collections-delete' slug=collection.slug %}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Remove</a>
                <a href="{% url 'collections-update' slug=collection.slug %}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 mr-4 text-gray-100">Edit</a>
              </div>
            </div>
            <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
            <p class="text-lg font-light text-gray-300 ml-4">{{collection.description}}</p>
            <div class="text-center">
              <a href="{% url 'collections-page' slug=collection.slug %}" type="button" class="bg-orange-500 mt-2 hover:bg-orange-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

    {% else %}
      <div class="mt-4 text-center">
        <p class="text-lg tracking-wide font-light">Yay! Nothing to see here, you can make a collection to add...</p>
      </div>
    {% endif %}
    <!-- <div>
      <h3 class="font-light">
        Movies
      </h3>
      <hr />
      <div class="w-11/12 mx-auto py-6 grid grid-cols-2 gap-4">
        <a href="#"
          type="button"
          class="border-2 border-purple-600 bg-purple-600 rounded group relative hover:bg-purple-700">
          <div class="w-full h-full bg-bland absolute hidden group-hover:flex items-center justify-center">
            <div class="flex flex-col">
              <button class="bg-red-600 text-gray-300 hover:bg-red-700 my-1 font-light py-2 px-4 text-sm uppercase rounded-full">
                Watch Later
              </button>
              <button class="bg-orange-600 text-white hover:bg-orange-700 my-1 py-2 px-4 font-light text-sm uppercase rounded-full">
                Watched
              </button>
            </div>
          </div>
          <img src="{% static 'collections/movies/movie1.jpg' %}"
            alt=""
            class="h-64 object-cover w-full" />
          <h4 class="text-center p-2 text-sm font-bold tracking-wide text-gray-300">
            A Whisker Away (2020)
          </h4>
        </a>
        <a href="#"
          type="button"
          class="border-2 border-purple-600 bg-purple-600 rounded group relative hover:bg-purple-700">
          <div class="w-full h-full bg-bland absolute hidden group-hover:flex items-center justify-center">
            <div class="flex flex-col">
              <button class="bg-red-600 text-gray-300 hover:bg-red-700 my-1 font-light py-2 px-4 text-sm uppercase rounded-full">
                Watch Later
              </button>
              <button class="bg-orange-600 text-white hover:bg-orange-700 my-1 py-2 px-4 font-light text-sm uppercase rounded-full">
                Watched
              </button>
            </div>
          </div>
          <img src="{% static 'collections/movies/movie2.jpg' %}"
            alt=""
            class="h-64 object-cover w-full" />
          <h4 class="text-center p-2 text-sm font-bold tracking-wide text-gray-300">
            Weathering With You (2019)
          </h4>
        </a>
      </div>
    </div> -->
  </div>
{% endblock content %}

{% block modal %}
  <!-- add new collection modal -->
  <div class="fixed bg-bland h-screen w-full z-50 flex items-center justify-center" x-show="add_col">
    <div class="bg-white w-1/2 mx-auto py-12 rounded-md flex items-center justify-center" @click.away="add_col=false">
      <div class="w-4/5">
        <h3 class="mb-3 text-lg text-center text-gray-800">Add New Collection</h3>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="flex flex-col w-full my-1 add-collection add-collection-main">
            {{form.name}}
          </div>
          <div class="flex items-center justify-center w-3/4 mx-auto mt-2 mb-1 add-collection add-collection-main">
            <label for="type" class="mr-2 font-light tracking-wide">Classification:</label>
            {{form.type}}
          </div>
          <div class="flex flex-col w-full my-1 add-collection add-collection-sub">
            <label for="description" class="text-gray-600 text-sm tracking-wide">Description</label>
            {{form.description}}
          </div>
          <div class="flex flex-col w-1/2 mx-auto my-1">
            <input type="submit" value="Create" class="py-2 rounded-full bg-purple-500 text-white hover:bg-purple-700 cursor-pointer">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock modal %}