<div class="bg-{{color}}-600 relative group hover:bg-{{color}}-700 p-4 h-32 rounded text-white">
  <div class="group-hover:flex absolute hidden w-full">
    <div class="flex flex-col absolute right-0 mr-8">
      <a href="{{delete}}" type="button" class="bg-red-600 text-center hover:bg-red-700 text-sm tracking-wide px-2 py-1 rounded my-1 text-gray-100">Remove</a>
      <a href="{{update}}" type="button" class="bg-blue-600 text-center hover:bg-blue-700 text-sm tracking-wide px-2 py-1 rounded my-1 text-gray-100">Edit</a>
    </div>
  </div>
  <div class="absolute left-0 bottom-0 text-sm tracking-wide mb-2 ml-2 z-40">
    ( {{collection.stuffs.all|length}} items )
  </div>
  <h2 class="text-2xl font-bold tracking-wide">{{collection.name}}</h2>
  <p class="text-lg font-light text-gray-300 ml-4 truncate">{{collection.description}}</p>
  <div class="text-center z-50">
    <a href="{{page}}" type="button" class="bg-{{color}}-500 mt-2 hover:bg-{{color}}-600 text-sm tracking-wide px-4  py-1 rounded text-white" title="View items of collection '{{collection.name}}'">view items</a>
  </div>
</div>