{% extends 'dashboard.html' %}

{% block title %}
  Delete '{{item.title}}'
{% endblock title %}

{% block content %}
  <div class="flex justify-center">
    <div class="my-24 w-2/3 xl:w-1/2 p-6 shadow-lg border-2 border-red-200 bg-red-100 rounded">
      <h4 class="font-light text-lg tracking-wide">Remove
        <strong class="font-bold text-purple-700">{{item.title}}</strong>
        from
        <strong class="underline font-extrabold tracking-wide">{{collection.name}}</strong>
      </h4>
      <!-- warning message -->
      <div class="my-4 text-center flex items-center justify-center">
        <div class="w-1/3 bg-purple-600 rounded">
          <div class="relative w-full h-64">
            <img src="{{item.img_src}}" alt="" class="h-full w-full object-cover object-top rounded-t">
          </div>
          <p class="text-white py-2 px-3 font-light tracking-wide">{{item.title}}</p>
        </div>
        <div class="w-2/3">
          <h3 class="text-3xl text-purple-600 font-bold">Are you sure you want to delete this item from the collection?</h3>
          <p class="text-sm font-light tracking-wide">
            <span class="text-red-600">*</span>This cannot be reversed.</p>
          <!-- buttons -->
          <div class="text-center flex justify-center mt-4">
            <a href="{% url 'collections-page' slug=collection.slug %}" class="py-2 px-6 text-lg mx-1 cursor-pointer border-2 rounded border-purple-600 hover:text-white hover:bg-purple-600">Cancel</a>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="slugid" value="{{collection.slug}}">
              <input type="hidden" name="stuffid" value="{{item.stuff_uid}}">
              <input type="submit" value="Delete" class="py-2 px-6 text-lg mx-1 cursor-pointer border-2 rounded border-red-600 bg-red-600 opacity-50 hover:opacity-100 text-white">
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}