{% extends 'main.html' %}

{% block title %} Zeta Storage Library Framework {% endblock title %}

{% block content %}
<!-- showcase -->
<div class="w-11/12 md:w-5/6 mx-auto py-32">
  <div class="text-center">
    <h1 class="text-7xl font-black py-4">
      <span class="text-purple-600 underline">zeta</span><br class="md:hidden">
      <span class="text-purple-500">- AIO Library</span>
    </h1>
    <h3 class="text-5xl font-extrabold my-4 text-gray-600">
      Use one, store more.
    </h3>
    <p class="text-2xl font-light tracking-wide text-gray-500">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam,
      beatae.
    </p>
    <!-- showcase > button -->
    <div class="pt-12 text-xl">
      <a href="#" type="button"
        class="px-8 tracking-wide py-3 mx-1 bg-white text-gray-600 rounded-lg border-2 border-purple-300 hover:bg-purple-500 hover:text-white">
        How it works
      </a>
      <a href="/register" type="button"
        class="px-8 tracking-wide py-3 mx-1 bg-purple-500 text-gray-100 rounded-lg border-2 border-purple-300 hover:bg-purple-600">
        Register
      </a>
    </div>
  </div>
</div>
{% endblock content %}