{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.1/dist/alpine.min.js"
      defer></script>
  </head>
  <body class="antialiased w-full h-full" x-data="{ profile: false, open: false, add_col: false }">

    <!-- user profile modal -->
    <div class="fixed bg-bland h-screen w-full z-50 flex items-center justify-center" x-show="profile" >
      <div class="h-64 bg-white md:w-2/3 lg:w-1/2 mx-auto rounded p-4 relative" @click.away="profile=false">
        <p class="font-light absolute top-0 left-0 mt-2 ml-2 opacity-75">User Profile | zeta</p>
        <div class="absolute top-0 right-0 mt-2 mr-2 inline-flex items-center"><div class="w-4 h-4 bg-green-500 rounded-full"></div> <p class="font-light ml-1 text-green-500">active</p></div>
        <div class="flex items-center justify-center px-4 h-full">
          <!-- user image -->
          <div class="relative h-32 w-32">
            <img src="{% static 'profiles/profile.png' %}" alt="" class="absolute object-cover rounded-full w-full h-full">
          </div>
          <!-- user info -->
          <div class="ml-4">
            <h1 class="text-3xl font-black text-purple-600 tracking-wide">{{user.username}}</h1>
            <ul class="">
              <li class="my-1">
                <h4 class="text-lg tracking-wide text-gray-600">Total Collections</h4>
                <p class="font-black text-lg ml-3 text-gray-800">12</p>
              </li>
              <li class="my-1">
                <h4 class="text-lg tracking-wide text-gray-600">Date Joined</h4>
                <p class="font-black text-lg ml-3 text-gray-800">{{user.date_joined}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block modal %}
    <!-- modals container from sub_templates -->
    {% endblock modal %}

    <!-- dashboard header -->
    <header class="bg-purple-700">
      <div
        class="w-11/12 mx-auto py-4 flex items-center justify-between text-white"
      >
        <!-- logo -->
        <h1 class="font-extrabold tracking-wide mx-2">zeta</h1>
        <!-- main nav -->
        <ul class="flex">
          <li>
            <a
              href="{% url 'dash' %}"
              class="font-light text-sm p-4 hover:bg-purple-800 rounded-md"
            >
              Dashboard
            </a>
          </li>
          <li>
            <a
              href="{% url 'collections' %}"
              class="font-light text-sm p-4 hover:bg-purple-800 rounded-md"
            >
              Collections
            </a>
          </li>
          <li>
            <a
              href="{% url 'browse' %}"
              class="font-light text-sm p-4 hover:bg-purple-800 rounded-md"
            >
              Browse
            </a>
          </li>
        </ul>
        <!-- account -->
        <div class="relative">
          <div class="flex items-center">
            <button
              @click="open = true"
              :class="{'bg-purple-600':open}"
              type="button"
              class="focus:outline-none z-40 text-sm hover:bg-purple-800 hover:underline inline-flex items-center px-4 border border-purple-600 rounded py-1"
            >
              <img src="{% static 'profiles/profile.png' %}" alt="" class="w-8 h-8" />
              <span class="ml-2 mr-1">{{user.username}}</span>
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </button>
          </div>
          <ul
            x-show="open"
            @click.away="open=false"
            class="absolute bg-purple-900 w-full text-sm mt-1 font-light py-3 rounded text-center"
          >
            <li class="py-1">
              <button @click="profile=true" class="opacity-75 hover:opacity-100">Profile</button>
            </li>
            <li class="py-1">
              <a href="{% url 'account' %}" class="opacity-75 hover:opacity-100">Settings</a>
            </li>
            <li class="py-1">
              <a href="{% url 'logout' %}" class="opacity-75 hover:opacity-100">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </header>


    <!-- main section -->
    {% block content %}

    {% endblock content %}

    <!-- footer -->
    <footer></footer>

    {% block js %}
    {% endblock js %}
  </body>
</html>
