{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.1/dist/alpine.min.js" defer></script>
</head>

<body class="antialiased w-full h-full" x-data="{ open: false, add_col: false, add_item: false }">

  {% block modal %}
  <!-- modals container from sub_templates -->
  {% endblock modal %}

  <!-- dashboard header -->
  <header class="py-3">
    <div class="w-11/12 mx-auto flex items-center justify-between">
      <!-- logo -->
      <div>
        <h1 class="font-black tracking-wide text-2xl text-purple-500">zeta</h1>
        <p class="ml-3 text-gray-500 tracking-wide">dashboard</p>
      </div>

      <!-- main nav -->
      <ul class="flex text-gray-700">
        <li>
          <a href="{% url 'dash' %}" class="py-1 px-8 hover:bg-purple-500 hover:text-white rounded-md tracking-wider">
            Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'collections' %}"
            class="py-1 px-8 hover:bg-purple-500 hover:text-white rounded-md tracking-wider">
            Collections
          </a>
        </li>
        <li>
          <a href="{% url 'browse' %}" class="py-1 px-8 hover:bg-purple-500 hover:text-white rounded-md tracking-wider">
            Browse
          </a>
        </li>
      </ul>
      <!-- account -->
      <div class="relative">
        <div class="inline-flex items-center">
          <button @click="open = true" :class="{'bg-purple-600':open}" type="button"
            class="z-40 hover:bg-purple-500 text-gray-700 tracking-wide focus:text-white hover:text-white hover:underline inline-flex items-center px-4 border border-purple-600 rounded py-1">
            <img src="{% static 'profiles/profile.png' %}" alt="" class="w-6 h-6" />
            <span class="ml-2 mr-1">{{user.username}}</span>
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </button>
        </div>
        <ul x-show="open" @click.away="open=false"
          class="absolute bg-purple-700 w-full mt-1 py-3 rounded text-center z-40 text-white">
          <li class="py-1">
            <a href="{% url 'account' %}" class="opacity-75 hover:opacity-100">Profile</a>
          </li>
          <li class="py-1">
            <a href="{% url 'account-password' %}" class="opacity-75 hover:opacity-100">Password</a>
          </li>
          <li class="py-1">
            <a href="{% url 'logout' %}" class="opacity-75 hover:opacity-100">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <hr />


  <!-- main section -->
  {% block content %}

  {% endblock content %}


  <hr />

  <!-- footer -->
  <footer class="text-center py-4">
    <p class="text-gray-700">&copy; 2020 | zeta</p>
  </footer>

  {% block js %}
  {% endblock js %}
</body>

</html>